* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c4c4c7;
}

h1 {
  color: #0a0c0b;
  background-color: #f39c12;
  text-align: center;
  padding: 10 0;
  font-size: 90px;
}

h2 {
  color: #000000;
  text-align: left;
  padding-left: 40px;
  font-size: 50px;
  font-weight: 900 bold;
  padding-bottom: 50px;
}

h3 {
  color: #000000;
  text-align: left;
  padding-left: 40px;
  font-size: 30px;
  font-weight: 900 bold;
  padding-bottom: 20px;
  text-decoration: none;
}

h4{
  color: #000000;
  text-align: left;
  font-size: 22px;
  font-weight: 900 bold;
  padding-bottom: 20px;
  text-decoration: none;
}

header {
  text-align: center;
}

.menu ul {
  background-color: #373738;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 80px;
}

.menu ul li {
  width: 200px;
  height: 40px;
  background-color: #373738;
  opacity: 0.9;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 10;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu ul li a:hover {
  color: #fff;
  background: #333;
  -moz-box-shadow: 0 3px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu ul li ul li {
  display: none;
}

.menu ul li:hover ul li {
  display: block;
}

.menu ul li ul li ul {
  display: none;
}

.menu ul li ul li:hover ul {
  display: block;
}

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.carousel_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
  image-rendering: optimizeQuality;
}

.carousel_slide img:hover {
  filter: grayscale(20%) brightness(55%);
  -webkit-transform: scale(1.015);
  -ms-transform: scale(1.015);
  transform: scale(1.015);
}

.carousel_track-container {
  background: #c4c4c7;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 350ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button img {
  width: 30px;
}

.carousel_button--left {
  left: -40px;
}

.carousel_button--right {
  right: -40px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.bottom-centered {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}

#search-bar {
  border-radius: 5px;
  margin-left: 20px;
}

.coisa-boa {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  overflow: hidden;
  margin-bottom: 80px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(55%);
    image-rendering: optimizeQuality;
  }

.gallery__img:hover{
    filter: grayscale(20%) brightness(40%);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

figure{
  position: relative;
  margin: 0;
}

.upper-bottom-left{
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 16px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.bottom-left{
  position: absolute;
  z-index: 100;
  bottom: 8px;
  left: 16px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
}

.articles-container{
  padding-left: 40px;
  float: left;
}

.articles{
  float: left;
  padding-bottom: 80px;
}

.articles-images{
  float: left;
  height: 275px;
  width:  400px;
  object-fit: cover;
  filter: brightness(85%);
  image-rendering: optimizeQuality;
  padding-right: 20px;
  padding-bottom: 20px;
}

.articles-images:hover{
  filter: grayscale(20%) brightness(70%);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.ver_todas{ 
  justify-content: center;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-bottom: 5px;
}

.ver_todas a{
  color: #000000;
}

.icon-container{
  padding-right: 40px;
  padding-bottom: 10px;
  float: right;
  display: inline-block;
}

.icon-images{
  width: 65px;
  height: 65px;
  background: transparent;
}

.icon-container a{
  text-decoration: none;
}
